@font-face {
  font-family: 'Recoleta';
  src: url('https://github.com/katarzynamieszawska-byte/moje-fonty/blob/6dbd8ef354cc184f5669d04ad8346ba5dcf0acb8/font.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}
