@font-face {
  font-family: 'Recoleta';
  src: url('https://raw.githubusercontent.com/TWOJA-NAZWA-UZYTKOWNIKA/moje-fonty/main/Recoleta-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
