@font-face {
  font-family: 'Recoleta';
  src: url('https://github.com/katarzynamieszawska-byte/moje-fonty/blob/bae3e00dbcbf4ea8d2dd30b50b8c31dc706306ba/Recoleta-RegularDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
